doctype html
html
  head
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(
      href='https://fonts.googleapis.com/css?family=Open+Sans'
      rel='stylesheet'
    )
    link(href='main.css' rel='stylesheet')
    title Matt Lucock
  
  body
    .profile-photo
    .profile-information
      p #[strong Matt Lucock] is a programmer and front-end web developer from the Central Coast and Sydney, Australia.
      
      nav.profile-links
        a(href='https://twitter.com/matthewlucock' target='_blank')
          include ../icons/twitter.svg
        
        a(href='https://github.com/matthewlucock' target='_blank')
          include ../icons/github.svg
        
        a(href='https://linkedin.com/in/matthewlucock' target='_blank')
          include ../icons/linkedin.svg
        
        a(href='mailto:hello@matthewlucock.name')
          include ../icons/envelope.svg
