$font-color: white
$icon-size: 2em

$breakpoint-tiny: 400px
$breakpoint-small: 600px
$breakpoint-medium: 800px
$breakpoint-large: 1000px

html
  overflow-y: hidden

body
  display: flex
  flex-direction: column
  height: 100vh
  background: lighten(black, 5%)
  color: $font-color
  font-family: 'Open Sans', sans-serif
  font-size: 20px
  line-height: 1.5

  @media (min-width: $breakpoint-small)
    flex-direction: row

  @media (min-width: $breakpoint-medium)
    font-size: 25px

  @media (min-width: $breakpoint-large)
    font-size: 30px

.profile-photo
  height: 50%
  background-image: url("profile.jpg")
  background-position: center
  background-size: cover

  @media (min-width: $breakpoint-tiny)
    height: 60%

  @media (min-width: $breakpoint-small)
    height: auto
    width: 50%

  @media (min-width: $breakpoint-medium)
    width: 40%

.profile-information-container
  display: flex
  height: 50%
  padding: 1em

  @media (min-width: $breakpoint-tiny)
    height: 40%

  @media (min-width: $breakpoint-small)
    justify-content: center
    align-items: center
    height: auto
    width: 50%

  @media (min-width: $breakpoint-medium)
    width: 60%
    padding: 2em

  @media (min-width: $breakpoint-large)
    padding: 3em

.profile-information
  max-width: 800px

.profile-links
  margin-top: 1em

  a
    display: inline-block
    color: darken($font-color, 70%)
    transition: color .2s

    &:not(:last-child)
      margin-right: .75em

    &:hover, &:focus
      color: inherit

    &:focus
      outline: none

    svg
      height: $icon-size
      width: $icon-size

    @media (hover: none)
      &, &:hover, &:focus
        color: darken($font-color, 20%)
